.navbar>ul {
  background-color: #262626;
  color: #fff;
  font-size: 2.5vh;
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

.navbar>ul>li {
  list-style-type: none;
  display: inline-block;
  padding: 0.5vh 0.5vw;
}

.navbar>ul>li:hover {
  background-color: #4398AA;
}

ul.submenu{
  position: absolute;
  background-color: #4398AA;
  list-style-type: none;
  width: 16vw;
  margin-left: -0.5vw;
  margin-top: 0.45vh;
  display: none;
}

ul.submenu li{
  padding: 0.3vh 0.5vw;
}

.navbar li:hover .submenu{
  display: block;
}

ul.submenu li:hover{
  background-color: #262626;
}

.navbar > ul > li{
  text-decoration-line: none;
  text-decoration-style: none;
  color: white;
}
