* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

:root {
  --background-color: #26262
}

@keyframes txt-animation {

  0%{
    background-position: left;
  }

  100%{
    background-position: right;
  }
}


#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.wrapper{

  margin-left: 10vw;
  margin-right: 10vw;
  background-color: hsla(0, 0%, 0%, .8);
  box-sizing: border-box;
  border-radius: 0 0 30px 30px;
}

.wrapgrid{
  display: grid;
  grid-row: auto;
}
