* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #26262
}

@keyframes txt-animation {

  0%{
    background-position: left;
  }

  100%{
    background-position: right;
  }
}


#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
