body {
    margin-top: 2em;
    margin-bottom: 2em;
}

.wrapper {
    width: 90%;
    margin: auto;
}

.header{
    height: 5em;
    margin: 0.3em;
    background-color: tomato;
}

.row{
    height: 45em;
    margin-bottom: 0.3em;
}

.menu{
    width: 20%;
    background-color: red;
    height: 100%;
    float: left;
    margin: 0.3em;
}

.content{
    width: 75%;
    background-color: orangered;
    height: 100%;
    float: right;
    margin: 0.3em;
}

.footer{
    height: 5em;
    background-color: tomato;
    margin: 0.3em;
}

div{
    font-family: Arial, Helvetica, sans-serif;
}
