#wrapper{
    width: 1200px;
    margin: auto;
}

#header{
    background-color: gray;
    height: 100px;
}

#row{
    height: 800px;
}

#menu{
float: left;
width: 30%;
background-color: #111aaa;
height: 100%;
}

#content{
    float: right;
    width: 60%;
    background-color: #aaa111;
    height: 100%;
}
#footer{
    background-color: yellow;
    height: 100px;
}